* {
    margin: 0;
    padding: 0;
}

body { 
    margin: 7em;
    background: #4b379a;
}

.Encabezado {
    display: flex;
    background-image: url(/public/img/header-bg.jpg);
    flex-direction: column;
    align-items: center;
}

.titulo {
    font-size: 5.5em;
}

/*
.titulo, .subtitulo {
    text-align: center;
}
*/

#botonRedondo {
    border-radius: 2em;
    cursor: pinter;
}

.transparentB {
    background: transparent;
    border: #ffffff 1.7px solid;
    width: 20%;
    height: 3.5em;
    font-size: 0.9rem;
    color: #ffffff;
}
/*
header .transparentB {
    
}*/

.SolidB {
    background: #bc5ede;
    border: transparent 2px solid;
    width: 20%;
    height: 3.5em;
    font-size: 0.9rem;
    color: #ffffff;
}

.eCompleto {
    background: url(/public/img/headerbg.jpg);
    height: 25em;
    background-repeat: no-repeat;
}