* {
    margin: 0;
    padding: 0;
}

body { 
    margin: 6em 12em;
    background: #4b379a;
}

*, ::before, ::after {
    box-sizing: inherit;
}

/*Todo lo relacionado con el encabezado*/
.eCompleto {
    display: flex;
    flex-direction: column;
    background-image: url(public/img/headerbg.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.opacidad {
    background:-webkit-linear-gradient(0deg, #3224b0 0%, #be5ede 100%);
    opacity: 0.9;
}

.Encabezado {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    margin: 9.8em;
    color: #ffffff;
}

.Logo {
    display: flex;
}

#log {
    margin-top: 1.2rem;
    margin-left: 13em;
}

.titulo {
    font-size: 5.5em;
}

/*Todo lo relacionado con los botones*/
#botonRedondo {
    border-radius: 2em;
    cursor: pointer;
}

.transparentB {
    background: transparent;
    border: #ffffff 1.7px solid;
    width: 20%;
    height: 3.5em;
    font-size: 0.9rem;
    color: #ffffff;
}

.SolidB {
    background: #bc5ede;
    border: transparent 2px solid;
    width: 20%;
    height: 3.5em;
    font-size: 0.9rem;
    color: #ffffff;
    background:-webkit-linear-gradient(0deg, #3224b0 0%, #be5ede 100%);
}

/*Todo lo relacionado con las 2 secciones*/
.pSeccion {
    display: flex;
    background: #ffffff;
}

.reasons {
    display: block;
    margin: 10em;
}

.reasons.blanco {
    color: #ffffff;
}

.imagenHD {
    background-image: url(public/img/slider.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
}

.imagenHD.i1 {
    margin-right: 10em;
}

.imagenHD.i2 {
    margin-left: 10em;
    opacity: 0;
}

.sSeccion {
    display: flex;
    background-image: url(public/img/parallux-bg.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: row-reverse;
}

/*Mini galeria Grid*/
.galeria {
    display: inline-grid;
    grid-template-rows: repeat(2, minmax(100px, auto)); 
    grid-template-columns: repeat(2, minmax(100px, auto));
    grid-gap: 1.6rem;
}

.g1, .g2, .g3, .g4 {
    margin: 5%;
}